* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  margin: auto;
  align-items: center;
  width: 100%;
}

.nav-ul{
    list-style: none;
    display: flex;
    gap: 70px;
    font-size: 13px;
    align-items: center;
    width: 100%;
}
.starters{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px;
    padding: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.starters li:hover{
  color: blue;
  transform: translateY(-10px );
transition: all 0.10s;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.hero-text {
margin-left: 75px;
margin-bottom: 100px;
width: 330px;

}


.hero-text h1 {
font-size: 42px;
font-weight: 700;
/* bottom: 100%; */

}


.hero-text p {
margin: 20px 0;
color: #666;
/* bottom: 100%; */
}
.img8 {
  max-width: 100%;
  position: relative; /* remove absolute */
  z-index: 2;
}

.img85{
position: absolute;
left:450;
bottom: 340px;
}
.img89{
  position: absolute;
  left: 900px;
  top: 590px;
}
.button{
  background-color: blue;
  border:blue ;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  position:relative;
  left:150px ;
  bottom: 250px;
  z-index: 2;
}
.button:hover{
background-color: white;
color: blue;
  border:1px solid blue ;
box-shadow: 0px  1px 1px 0px ;
transform: translateY(-20px );
transition: all 0.5s;

}
.img56{
  position: absolute;
  bottom:50px ;
  width: 350px;
  left: 100px;
}
.alone{
  padding: 200px 0;
}
.hero-2{
  display: flex;
  list-style: none;
}


.clients{
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 190px auto;
  gap: 30px;
}
.h2{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
margin-top:35px ;
  right: -30px;
}

.h2 h2{
  font-size: 34px;
}
.h2 span{
  font-size: 16px;
  line-height: 1.5;
  width: 100x;
}
.pan span{
  font-size: 12px;
}
.logo {
  display: flex;
  position: relative;
  gap: 40px;
  margin-top: 70px;
left: 90px;
}
/* .services{
  width: 100%;
  margin: auto;
  display: flex;
  border: 1px solid red;
} */

 .services{
  width: 100%;
  margin: auto;
  display: flex;
  /* border: 1px solid red; */
} 


 .border-1 { 
  width: 280px;
  height: 350px;
  padding: 30px 100px;
  background-color: white;
  border: 1px solid red;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
box-shadow: 0px 0px 8px 2px hsla(0, 0%, 0%, 0.05);
border: none;
position: relative;
 left: -500px;
bottom: 40px;
z-index: 2;
} 
 .border-text{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.zion{
  background: #f1f7ff;
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

}
.border-2{
  width: 280px;
  height: 350px;
  padding: 30px 70px;
  background-color: white;
  border: 1px solid red;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
box-shadow: 0px 0px 8px 2px hsla(0, 0%, 0%, 0.05);
border: none;
position: relative;
 left: -460px;
bottom: 80px;
z-index: 2;
  animation:bounce 0.9s linear infinite;
transform: translateY(-20px );
transition: all 0.1s;
}

.ion{
  background: #FFF7E3;
  width: 120px;
  height: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

}

.border-3{
  /* width: 280px; */
  height: 350px;
  padding: 30px 70px;
  background-color: white;
  border: 1px solid red;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
box-shadow: 0px 0px 8px 2px hsla(0, 0%, 0%, 0.05);
border: none;
position: relative;
 right: 83%;
top: 350px;
z-index: 2;
}
.on{
  background: #FFF2F8;
  width: 120px;
  height: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

}
.border-4{
  width: 280px;
  height: 350px;
  padding: 30px 70px;
  background-color: white;
  border: 1px solid red;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
 box-shadow: 0px 0px 8px 2px hsla(0, 0%, 0%, 0.05);
 border: none;
 position: relative;
  right: 80%;
 top: 290px;
 z-index: 2;
}
.xion{
  background: #DEFFEE;
  width: 120px;
  height: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

}

.circle29{
  max-width: 100%;
  position: relative;
  width: 850px;
  height: 600px;
  left: 230px;
  background-color: #f4f9ff;
  border-radius: 100px 0 0;
  z-index: 2;
}
.clients-services{
  position: relative;
  top: 150px;
  left: 80px;
}
.help{
  position: relative;
  top: -92px;
  left: 169px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.help h1{
  font-size: 20px;
  z-index: 2;
}
.help p{
  font-size: 10px;
}
 

.vice{
  position: relative;
  left: 90px;
  bottom: 20px;
  
}
.dotted{
  position: relative;
  top: -70px;
  left: -20px;  
}
.img-circle{
  position: absolute;
  left: 80%;
}
.vid{
  /* position: relative; */
  top: 100px;
  display: flex;

}
.video{
  position: relative;
  left: 100px;
  z-index: 2;
}
.play{
  position: relative;
  left: -300px;
  top: 180px;
  z-index: 2;
}
.oppo{
  position: relative;
  right: 120px;
  top: 350px;
}
.popo{
  position: relative;
  right: 100px;
  top: 100px;
  
}
.results{
  position: relative;
  right: 230px;
  top: 180px;
  width:900px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.results h2{
  font-size: 20px;
}
.results p{
  width: 150%;
}
.header3{
    text-align: center;
    padding-top: 60px;
}
.hero-5{
    position: relative;
    padding: 100px 50px;
    height: 500px;
}
.place-15{
    position: absolute;
    left: 100px;
    z-index: 1;
}
.place-16{
    position: absolute;
    left: 500px;
    top: 180px;
    font-size: 12px;
}
.place-17{
    display: flex;
    list-style: none;
    position: absolute;
    top: 130px;
    left: 250px;
    gap: 20px;
}
.place-18{
    position: absolute;
    right: 50px;
    z-index: 1;
}
.place-19{
    position: absolute;
    top: 280px;
    left: 100px;
}
.place-20{
    position: absolute;
    left: 280px;
}
.place-21{
    position: absolute;
    right: 200px;
    bottom: 150px;
}
.pixle{
  position: relative;
}
.ixle{
  background-color: #F4F9FF;
  max-width: 100%;
  position: relative;
  width: 800px;
  height: 200px;
  left: 230px;
  top: 200px;
  border-radius: 60px;
  z-index: 2;
 }
 .mail{
  position: absolute;
  left: 700px;
  bottom: 130px;
  z-index: 2;
 }
 .input{
 position: absolute;
 bottom: 220px; 
 left: 600px;
 background-color: white;
 padding: 15px 30px;
 border-radius: 40px;
 z-index: 2;
 }
 .input input{
  border: white;
 }
 .input button{
  background-color: blue;
  color: white;
  padding: 10px;
  border: blue;
  border-radius:20px;
  
 }
.tion{
  position: absolute;
  top: 270px;
  left: 250px;
  z-index: 5;
display: flex;
flex-direction: column;
gap: 20px;
}
.e-mail{
  position: relative;
  padding-left:950px ;
  bottom: 270px;
}
#footer{
    display: flex;
    justify-content: left;
    margin-left: 30px;
    gap: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    border-bottom:  1px solid rgba(128, 128, 128, 0.3);
    height: 400px;
}
.footer{
    padding: 20px;

}
.fh{
    padding-top: 10px;
    padding-bottom: 10px;
}
.fn{
    padding-top: 50px;
    display: flex;
    gap: 10px;
}
.final{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #666;
}
#fa {
  display: none;
}
  

@media(max-width: 900px) {

    html, body {
        overflow-x: hidden !important;
        width: 100% !important;
    }

    * {
        max-width: 100% !important;
    }

    
    header {
        /* flex-direction: co; */
        padding: 30px;
        gap: 10px;
        width: 80%;
        margin: auto;
    }
    header h2{
      position: relative;
      right: 70px;
    }
     #fa {
      display: flex;
      position: relative;
      left: 85px;
    }
    .starters {
        display: none;
        gap: 10px;
        padding: 0;
    }
   

    
    .hero {
        flex-direction: column;
        padding: 10px;
        margin: 0;
        text-align: center;
    }

    .hero-text {
        margin: 0 auto;
        width: 90%;
        
    }
    {
        display: none !important;  /* remove all hero decorations */
    }

    .img8{
        width: 100%;
        height: auto;
        border-radius: 100px;
        /* display: none; */
    }
    .img85{
      display: none;
    }
    .img89{
      display: none;
    }

    .button {
        position:relative;
        /* top: 50px; */
        right: 50x;
        /* margin: 50px auto; */
        /* display: none; */
    }

    .clients {
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
        width: 100%;
        gap: 20px;
    }

    .h2 {
        text-align: center;
        right: 0;
    }

    .logo {
        /* flex-direction: column !important; */
        width:90% ;
        left: 0;
        gap: 18px;
    }
    .img56{
      display: none;
    }

    
    .services {
        flex-direction: column;
        align-items: center;
    }

    .circle,
    .circle29,
    .vice,
    .dotted,
    .img-circle {
        display: none !important;  /* remove useless shapes */
    }

    .border-1,
    .border-2,
    .border-3,
    .border-4 {
        position: static !important;
        margin: 20px 0;
        width: 50% !important;
        padding: 20px !important;
    }
    .help{
      position: relative;
      display: flex;
      padding-right: 20%;
      bottom: 100%;
      display: none;
    }

    
    .vid {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        display: none;
    }

    .video,
    
    
    
    .video img {
        width: 100%;
    }

    .results {
        position: static !important;
        width: 90%;
        text-align: center;
        margin: 30px auto;
        z-index: 2;
    }

    
    .hero-5 {
        height: auto !important;
        padding: 20px;
        text-align: center;
    }
    .tion {
      display: none;
    }

    .place-15,
    .place-16,
    .place-17,
    .place-18,
    .place-19,
    .place-20,
    .place-21 {
        position: static !important;
        margin: 10px auto;
        
    }

    .place-18{
      display: none;
    }
    .place-19{
      display: none;
    }
    .place-20{
      display: none;
    }
    .place-21{
      display: none;
    }
    .place-15 img {
        width: 100% !important;
    }

    
    .pixle,
    .ixle,
    .mail,
    .gamil,
    .ition,
    .e-mail {
        position: static !important;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        display: none;
    }

    .input {
        position: static !important;
        margin: 20px auto;
        width: 90%;
        padding: 15px;
        border-radius: 20px;
        background: white;
    }

    .input input {
        width: 100%;
        padding: 10px;
    }

    .input button {
        margin-top: 10px;
        width: 100%;
    }
    

    
    #footer {
      display: wrap;
        flex-direction: column;
        display: wrap;
        gap: 20px;
        padding: 20px;
        height: auto;
        /* text-align: center; */
    }

}